@import "morseCode.css";

/* General styles */

@keyframes flashDiv {
	0% {background: rgb(255,0,0);}
	50% {background: rgb(255,255,255);}
	100% {background: rgb(255,0,0);}
}

table div {height: 16px;}
div.endless {background: rgb(48,144,255);}
div.okay {background: rgb(64,255,64);}
div.caution {background: rgb(255,255,0);}
div.warning {background: rgb(255,0,0);}
div.danger {background: rgb(255,0,0); animation: flashDiv 1000ms infinite;}
div.nightmare {background: rgb(255,0,0); animation: flashDiv 500ms infinite;}

#bomb {display: grid; grid-template-columns: auto auto auto auto;}
#numBatts {color: yellow; font-weight: bold;}

#banner img {padding: 5px; background: black;}
#serialNum {font-family: monospace; font-size: 165%;}
legend, #scoreboard {font-family: 'Rajdhani', sans-serif; font-size: 110%; text-transform: uppercase;}
.fragment {font-family: 'Rajdhani', sans-serif; font-size: 110%;}

/* Non-dedicated module styles */

.bigButton {width: 122px; height: 122px; font-size: 16pt; border: 3px solid #ddd; border-radius: 64px; vertical-align: top;}
.bigButton:active {border: 3px solid #666;}
.buttonLight {margin-left: 16px; width: 26px; height: 122px; border: 3px solid #ccc; display: inline-block; box-sizing: border-box;}

.keypadFrame {display: grid; grid-template-columns: auto auto;}
.keypad {width: 64px; height: 64px; text-align: center; border-radius: 0px; font-size: 225%;}

.mazeFrame {display: grid; width: 280px; height: 280px; padding: 0px; margin: auto; grid-template-columns: auto auto auto auto auto auto auto auto;}
.mazeButtonX {padding-left: 35px; padding-right: 35px; height: 35px; grid-column: 1 / span 8;}
.mazeButtonX button, .mazeButtonY button {background: #C84; color: #000; width: 100%; height: 100%}
.mazeButtonY {width: 35px; grid-row: 2 / span 6;}

.mazeSlot, .mazeSlotHilite {width: 33px; height: 28px; padding-top: 5px; text-align: center; border: 1px solid #011;}
.mazeSlot {background: #122;}
.mazeSlotHilite {background: #162;}

.mazeGoal {color: red;}
/*
.mazeWallR {border-right-color: white;}
.mazeWallB {border-bottom-color: white;}
*/
.mazeStrikeR {border-right-color: red;}
.mazeStrikeB {border-bottom-color: red;}

.memFrame {display: grid; grid-template-columns: auto auto auto auto 10%;}
.memDisp {background: #040; font-size: 300%; padding: 5px; text-align: center; border: 10px solid black; grid-row: 1 / span 3; grid-column: 1 / span 4;}
div.memButton {grid-row: 4 / span 2; text-align: center;}
.memButton button {background: #C84; color: #000; width: 50px; height: 55px; font-size: 150%;}
.memStage, .whoStage, .wireSeqStage {background: #000; border: 1px solid #CCC;}

button.passDelta {background: #C84; color: #000; width: 31px; height: 31px; border-radius: 16px;}
.passDisp {background: #0C0; color: #000; width: 32px; height: 64px; font-family: monospace; font-size: 300%; text-align: center; width: 100%; max-width: 80%; border: 5px solid #1E1; margin-left: auto; margin-right: auto; padding-top: 13%;}
button.passSubmit {background: #CA8; color: #000; font-size: 200%; margin-top: 16px;}
.memCollection, .passBank, .simonAux {display: none;}

.simon {display: grid; grid-template-columns: auto auto; transform: rotate(45deg); width: 144px; height: 144px; margin: auto;}
.simon button {width: 64px; height: 64px; border-radius: 0px;}

@keyframes flashB {
	0% {background: rgb(0, 0, 192);}
	50% {background: rgb(128, 128, 255);}
	100% {background: rgb(0, 0, 192);}
}

@keyframes flashY {
	0% {background: rgb(192, 192, 0);}
	50% {background: rgb(255, 255, 128);}
	100% {background: rgb(192, 192, 0);}
}

@keyframes flashR {
	0% {background: rgb(192, 0, 0);}
	50% {background: rgb(255, 128, 128);}
	100% {background: rgb(192, 0, 0);}
}

@keyframes flashG {
	0% {background: rgb(0, 192, 0);}
	50% {background: rgb(128, 255, 128);}
	100% {background: rgb(0, 192, 0);}
}

.vennFrame {display: grid; text-align: center;}

.vennSlot {height: 30px;}

.vennWire {width: 20px; min-height: 120px; border-radius: 5px; margin-left: auto; margin-right: auto; padding-top: 80px;}
.vennB {background: blue;}
.vennBR {background: repeating-linear-gradient(to bottom, blue, blue 20px, red 20px, red 40px);}
.vennBW {background: repeating-linear-gradient(to bottom, blue, blue 20px, white 20px, white 40px);}
.vennR {background: red;}
.vennRW {background: repeating-linear-gradient(to bottom, red, red 20px, white 20px, white 40px);}
.vennW {background: white; color: black;}

.whoFrame {display: grid; grid-template-columns: auto auto 10%;}
.whoDisp {background: #088; font-size: 200%; text-transform: uppercase; padding: 5px; text-align: center; border: 10px solid black; grid-column: 1 / span 3;}
div.whoButton {text-align: center;}
.whoButton button {background: #C84; color: #000; width: 90%; height: 100%; font-size: 113%; text-transform: uppercase;}

.wire {width: 100%; height: 20px; border-radius: 5px; margin-top: 10px; margin-bottom: 10px; text-align: center;}

.wireSeqFrame {display: grid; grid-template-columns: 30px auto 30px 10%;}
.wireSeqSlot {text-align: center;}
.wireSeqSlot button {background: #C84; color: #000; width: 100%; height: 100%;}
.wireSeqSlot button:disabled {background: #444; color: #000; width: 100%; height: 100%;}
.seqWire {height: 20px; border-radius: 5px; margin-bottom: 20px; text-align: center;}
.seqAux {visibility: hidden; height: 40px;}
