@import "morseCode.css";
@import "expansion.css";

@import url("https://fonts.googleapis.com/css?family=Tektur");

/* General styles */

body{font-family: sans-serif; color: #ffffff; background-color: #404040;}
h2,h3,h4{font-family: "Tektur", sans-serif; text-align: center;}
.center {text-align: center;}
#banner {text-align: center; margin-top: 30px; margin-bottom: 30px;}
#banner img {border: 1px outset #fff;}

body.redAlarm {background-color: #400000; animation: backAlarm 3000ms infinite;}
body.deadPlr {background-color: #100808;}

.text{background:#004040;color:#FFFFFF;}
.text:disabled, input.text:read-only, textarea.text:read-only {background:#200040;color:#E0E0E0;}
.texterr{background:#800000;color:#FFFFFF;}
.numeric{text-align:right;}

table {border: 3px ridge rgb(64,64,128); empty-cells: hide;}
td, th {border: 1px solid rgb(96,96,192);}
tr.alt td {border: 1px solid rgb(32,32,64);}

a{text-decoration: underline dashed;}
a:link{color:#00FFFF;}
a:visited{color:#FF00FF;}
a:hover{text-decoration: underline solid;}
a:active{color:#FFFF00;}

.interact {text-decoration:none; white-space: nowrap; border: 2px outset #0ff; padding: 1px; background:#FFFFFF; margin-left: 10px; margin-right: 10px; font-style: normal;}
.interact:hover {text-decoration:none; cursor: pointer;}
.interact:link {color:#000080;}
.interact:visited {color:#800080;}
.interact:active {border: 2px inset #0ff;}
.interact:disabled {background:#A0A0A0; color:#0000FF; font: inherit; display: inline; border: 2px outset #00f; padding: 0px;}

.footer{text-align:center; font-style: italic; font-size: 85%; clear: both;}

@keyframes backAlarm {
	0% {background: #400000;}
	70% {background: #400000;}
	85% {background: #C00000;}
	100% {background: #400000;}
}

@keyframes flashDiv {
	0% {background: rgb(255,0,0);}
	50% {background: rgb(255,255,255);}
	100% {background: rgb(255,0,0);}
}

table div {height: 16px;}
div.endless {background: rgb(48,144,255);}
div.okay {background: rgb(64,255,64);}
div.caution {background: rgb(255,255,0);}
div.warning {background: rgb(255,0,0);}
div.danger {background: rgb(255,0,0); animation: flashDiv 1000ms infinite;}
div.nightmare {background: rgb(255,0,0); animation: flashDiv 500ms infinite;}

#bomb {display: grid; grid-template-columns: 25% 25% 25% 25%;}
#numBattAA, #numBattD {color: yellow; font-weight: bold;}

#banner img {padding: 5px; background: black;}
#serialNum {font-family: monospace; font-size: 165%;}
legend, #scoreboard {font-family: 'Rajdhani', sans-serif; font-size: 110%; text-transform: uppercase;}
.fragment {font-family: 'Rajdhani', sans-serif; font-size: 110%;}

/* Non-dedicated solvable module styles */

.bigButton {width: 122px; height: 122px; font-size: 16pt; border: 3px solid #ddd; border-radius: 64px; vertical-align: top; cursor: pointer;}
.bigButton:active {border: 3px solid #666;}
.buttonLight {margin-left: 16px; width: 26px; height: 122px; border: 3px solid #ccc; display: inline-block; box-sizing: border-box;}

.keypadFrame {display: grid; grid-template-columns: auto auto;}
.keypad {width: 64px; height: 64px; text-align: center; border-radius: 0px; font-size: 225%; cursor: pointer;}

@media (max-width: 1024px), (max-height: 800px) {
	.bigScreen {display: none;}

	.mazeFrame {display: grid; width: 200px; height: 200px; padding: 0px; margin: auto; grid-template-columns: auto auto auto auto auto auto auto auto;}
	.mazeButtonX {padding-left: 25px; padding-right: 25px; height: 25px; grid-column: 1 / span 8;}
	.mazeButtonY {width: 25px; grid-row: 2 / span 6;}
	.mazeSlot, .mazeSlotHilite {width: 24px; height: 21px; padding-top: 3px; text-align: center; border: 0.5px solid #011; font-size: 75%;}
}

@media (min-width: 1025px) and (min-height: 801px) {
	.smScreen{display: none}
	
	.mazeFrame {display: grid; width: 280px; height: 280px; padding: 0px; margin: auto; grid-template-columns: auto auto auto auto auto auto auto auto;}
	.mazeButtonX {padding-left: 35px; padding-right: 35px; height: 35px; grid-column: 1 / span 8;}
	.mazeButtonY {width: 35px; grid-row: 2 / span 6;}
	.mazeSlot, .mazeSlotHilite {width: 33px; height: 28px; padding-top: 5px; text-align: center; border: 1px solid #011;}
}


.mazeButtonX button, .mazeButtonY button {background: #C84; color: #000; width: 100%; height: 100%; font-size: 75%; cursor: pointer;}
.mazeSlot {background: #122;}
.mazeSlotHilite {background: #162;}

.mazeGoal {color: red;}
/*
.mazeWallR {border-right-color: white;}
.mazeWallB {border-bottom-color: white;}
*/
.mazeStrikeR {border-right-color: red;}
.mazeStrikeB {border-bottom-color: red;}

.memFrame {display: grid; grid-template-columns: auto auto auto auto 10%;}
.memDisp {background: #040; font-size: 300%; padding: 5px; text-align: center; border: 10px solid black; grid-row: 1 / span 3; grid-column: 1 / span 4;}
div.memButton {grid-row: 4 / span 2; text-align: center;}
.memButton button {background: #C84; color: #000; width: 50px; height: 55px; font-size: 150%; cursor: pointer;}
.memStage, .whoStage, .wireSeqStage, .coprimeStage {background: #000; border: 1px solid #CCC;}

button.passDelta {background: #C84; color: #000; width: 31px; height: 31px; border-radius: 16px; cursor: pointer;}
.passDisp {background: #0C0; color: #000; width: 32px; height: 64px; font-family: monospace; font-size: 300%; text-align: center; width: 100%; max-width: 80%; border: 5px solid #1E1; margin-left: auto; margin-right: auto; padding-top: 13%; cursor: default;}
button.passSubmit {background: #CA8; color: #000; font-size: 200%; margin-top: 16px; cursor: pointer;}
.memCollection, .passBank, .simonAux {display: none;}

.simon {display: grid; grid-template-columns: auto auto; transform: rotate(45deg); width: 144px; height: 144px; margin: auto;}
.simon button {width: 64px; height: 64px; border-radius: 0px; cursor: pointer;}

@keyframes flashB {
	0% {background: rgb(0, 0, 192);}
	50% {background: rgb(128, 128, 255);}
	100% {background: rgb(0, 0, 192);}
}

@keyframes flashY {
	0% {background: rgb(192, 192, 0);}
	50% {background: rgb(255, 255, 128);}
	100% {background: rgb(192, 192, 0);}
}

@keyframes flashR {
	0% {background: rgb(192, 0, 0);}
	50% {background: rgb(255, 128, 128);}
	100% {background: rgb(192, 0, 0);}
}

@keyframes flashG {
	0% {background: rgb(0, 192, 0);}
	50% {background: rgb(128, 255, 128);}
	100% {background: rgb(0, 192, 0);}
}

.vennFrame {display: grid; text-align: center;}
.vennSlot {height: 30px;}

.vennWire {width: 20px; min-height: 120px; border-radius: 5px; margin-left: auto; margin-right: auto; padding-top: 80px; cursor: crosshair;}
.vennB {background: blue;}
.vennBR {background: repeating-linear-gradient(to bottom, blue, blue 20px, red 20px, red 40px);}
.vennBW {background: repeating-linear-gradient(to bottom, blue, blue 20px, white 20px, white 40px);}
.vennR {background: red;}
.vennRW {background: repeating-linear-gradient(to bottom, red, red 20px, white 20px, white 40px);}
.vennW {background: white; color: black;}

.whoFrame {display: grid; grid-template-columns: auto auto 10%;}
.whoDisp {background: #088; font-size: 200%; text-transform: uppercase; padding: 5px; text-align: center; border: 10px solid black; grid-column: 1 / span 3; cursor: default;}
div.whoButton {text-align: center;}
.whoButton button {background: #C84; color: #000; width: 90%; height: 100%; font-size: 113%; text-transform: uppercase; cursor: pointer;}

.wire {width: 100%; height: 20px; border-radius: 5px; margin-top: 10px; margin-bottom: 10px; text-align: center; cursor: crosshair;}

.wireSeqFrame {display: grid; grid-template-columns: 30px auto 30px 10%;}
.wireSeqSlot {text-align: center; cursor: default;}
.wireSeqSlot button {background: #C84; color: #000; width: 100%; height: 100%; cursor: pointer;}
.wireSeqSlot button:disabled {background: #444;}
.seqWire {height: 20px; border-radius: 5px; margin-bottom: 20px; text-align: center; cursor: crosshair;}
.seqAux {visibility: hidden; height: 40px;}

/* Needy module styles */
.ventGasDisp, .ventTimer, .knobTimer, .knobTop, .knobLight, .capacitorFrame div {border: 1px solid white; background: black; font-size: 200%; cursor: default;}
.capacitorFrame button {background: #C84; color: #000; min-width: 100px; height: 100%; vertical-align: middle; cursor: pointer;}
.capacitorFrame button:disabled, .ventButton button:disabled, .knobButton:disabled {background: #444;}

.knobFrame {display: grid; grid-template-columns: auto auto auto auto auto auto auto;}
.knobTop {grid-column: 1 / span 7;}
.knobLabel {margin-left: auto; margin-right: auto; font-size: 50%; text-align: center; width: 158px; height: 158px;}
.knobButton {background: #C84; color: #000; width: 122px; height: 122px; font-size: 48pt; border: 3px solid #ddd; border-radius: 64px; cursor: pointer;}
.knobButton:active {border: 3px solid #666;}
.knobAnswer {visibility: hidden;}
.knobTimer {grid-column: 4 / span 1; grid-row: 2 / span 2;}

.ventGasFrame {display: grid; grid-template-columns: auto auto auto;}
.ventGasDisp {padding: 5%;}
.needyTimer {font-family: monospace; color: #F00; text-align: center;}
.needyTimer meter {visibility: hidden;}
.ventGasDisp {grid-column: 1 / span 3; grid-row: 1 / span 5; color: #0F0; text-transform: uppercase;}
.ventButton button {background: #C84; color: #000; width: 100%; height: 100%; font-size: 111%; cursor: pointer;}
